<footer class="footer py-3 mt-auto" style="background-color: #e3f2fd">
  <div class="container d-flex">
    <span class="text-muted">&copy; 김부추 2022</span>
    <span class="ms-auto">&#x260E; 010-1234-5678</span>
  </div>
</footer>
