<footer class="footer py-3 mt-auto" style="background-color: #e3f2fd">
  <div class="container d-flex my-3 pt-3">
    <span class="text-muted">&copy; 김부추 buchuKim</span>
    <span class="ms-auto">&#9993; qkqdlek32@gmail.com</span>
  </div>
</footer>
