<nav class="navbar navbar-expand-lg px-3" style="background-color: #e3f2fd">
  <div class="container-fluid px-4">
    <a class="navbar-brand" href="/">&#x1F331; 식단관리</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/food">음식사전</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guide">사이트 소개</a>
        </li>
      </ul>
      <%if (currentUser) {%>
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          My Menu
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/user/profile">내 정보</a></li>
          <li><a class="dropdown-item" href="/">오늘 내 식단</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="/search">지난 식단</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">로그아웃</a>
        </li>
      </ul>
      <%} else {%>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/user/login">로그인</a>
        </li>
      </ul>
      <%}%>
    </div>
  </div>
</nav>
